/* general styles */

body, html {
    background-image: url('/static/img/henry-co-tqu0IOMaiU8-unsplash.jpg');
    height: 100%;
    font-family: 'Oswald', sans-serif;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }
  
#homepage, #create-account {
    background-image: url('/static/img/bruno-nascimento-PHIgYUGQPvU-unsplash.jpg');
    color: white;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    padding-top: 100px;
}
/* homepage styles */

#login-form {
    padding: 0 400px;
    align-items: center;
}

#login-heading {
    text-align: center;
    padding-top: 40px;
}

#create-account-link {
    text-align: center;
}

/* profile styles */

#running-chart {
    background-color: white;
}

/* training log styles */

#new-log-button {
    padding: 10px 20px;
}

#training-log-heading {
    position: fixed;
    margin-left: 700px;
    z-index: 1;
}

/* search race page styles */

#city-search {
    width: 100%;
}