/* general styles */

body, html {
    background-image: url('/static/img/asoggetti-GYr9A2CPMhY-unsplash.jpg');
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }
  
#homepage, #create-account {
    background-image: url('/static/img/bruno-nascimento-PHIgYUGQPvU-unsplash.jpg');
    color: white;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 80px;
}

.container {
    padding-top: 100px;
}

/* homepage styles */

#login-form {
    padding: 0 400px;
    align-items: center;
}

#login-heading {
    text-align: center;
    padding-top: 40px;
}

#create-account-link {
    text-align: center;
}

/* profile styles */

.running-chart {
    background-color: grey;
}

/* training log styles */

.card {
    background: rgba(187,187,187, 0.5); 
}

#create-new-log-btn {
    position: fixed;
    padding-top: 30px;
    padding-right: 50px;
}
#training-log-heading {
    position: relative;
    z-index: 1;
}

/* search race page styles */

#city-search {
    width: 100%;
}