/* general styles */
a {
    color: #0A043C;
}

.app {
    background-image: url('/static/img/asoggetti-GYr9A2CPMhY-unsplash.jpg');
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }

.btn-primary {
    background-color: #ffe3d8;
    border-color: #ffe3d8;
    color: #0a043c;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
}
.btn-primary:hover {
    background-color: #0a043c;
}
  .form-control {
      position: relative;
  }

.outside-app {
    background-image: url('/static/img/bruno-nascimento-PHIgYUGQPvU-unsplash.jpg');
    color: white;
    height: 100%;
    width: 100%;
    margin: 0 0;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

h1 {
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 80px;
}
.heading {
    padding-top: 15px;
}
.container {
    padding-top: 100px;
}

/* homepage styles */

.card-body {
    margin: 50px 0;
}

#login-button {
    size: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
}

#login-card {
    background-color: rgba(187,187,187,.5);
    border-radius: 25px;
    bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    color:  #0a043c;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    width: 300px;
    
}

#login-form{
    padding: 0 20px;
    align-items: center;
}


#create-account-link {
    text-align: center;
}

/* create new user page style */

#back-to-login-btn {
    size: 10px;
    margin-bottom: 15px;
    width: 100%;
}

#create-new-user-btn {
    size: 10px;
    margin: 20px 0;
    width: 100%;
}

#create-new-user-card {
    background-color: rgba(187,187,187,.5);
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    color: #0a043c;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    width: 300px;
}
/* profile styles */

.running-chart {
    background-color: white;
}

/* training log styles */

.card {
    background: rgba(187,187,187, 0.5); 
}
.training-log-btns {
    padding: 10px;
}
#create-new-log-btn {
    position: fixed;
    padding-top: 30px;
    padding-right: 50px;
}
#training-log-heading {
    position: relative;
    z-index: 1;
}

/* search race page styles */

#city-search {
    width: 80%;
}

/* search result page styles*/
#save-the-date-btn {
    margin: 0 20px;
}

/* create new log styles */
#create-new-btn {
    margin: 30px;
}