{% extends 'base.html' %}

{% block title %}Create New Log{% endblock %}



{% block body %}
<div class="container app">
    <div class="row justify-content-center heading">
    <h1>Create new Log</h1>
    </div>
    <div class="row justify-content-center">
      <div class="card">
        <div class="card-body text-center">
          <form action="/save-new-log" method="POST">
            Date: <input type="date" name="training_date" id="training-date-field" required> <br>
            Mileage Ran: <input type="text" name="mileage_run" id="training-mileage-field" required> <br>
            Time: <input id='h-field' name='run_time_hr' type='number' min='0' max='24'>
              <label for='h'>h</label>
              <input id='m-field' name='run_time_min' type='number' min='0' max='59'>
              <label for='m'>m</label>
              <input id='s-field' name='run_time_sec' type='number' min='0' max='59'>
              <label for='s'>s</label> <br>
            Effort: 
            <input type="radio" name="effort" id="training-effort-field" value="easy" required>
                <label for="easy">Easy</label>
            <input type="radio" name="effort" id="training-effort-field" value="moderate">
                <label for="moderate">Moderate</label>
            <input type="radio" name="effort" id="training-effort-field" value="hard">
                <label for="hard">Hard</label> <br>
            Comments: <input type="text" name="comments" id="training-comment-field" required> <br>
      
            <button class="btn btn-primary" id="create-new-btn" type="submit">Create new entry</button>
          </form>
        </div>
      </div>
    </div>
    
  </div>
  

{% block javascript %}
<script src="/static/js/newLog.js"></script>
{% endblock %}

{% endblock %}