{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block head %}
{% block stylesheets %}

{% endblock stylesheets %}
{% endblock %}

{% block body %}

<h2>Create New Account</h2>
  <form action="/make-new-user" method="POST">
    <div class="form-group">
      <label for="exampleInputEmail1">First name</label>
      <input type="test" class="form-control" name="fname" id="exampleInputEmail1" required>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Last name</label>
      <input type="text" class="form-control" name="lname" id="exampleInputEmail1" required>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Username</label>
      <input type="text" class="form-control" name="username" id="exampleInputEmail1" required>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" required> 
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" name="password" id="exampleInputPassword1" required>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  

  <!-- Bootstrap Javascript in order to use JS-based components -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

  {% endblock %}



