{% extends 'base.html' %}

{% block title %}See Your Saved Races{% endblock %}


{% block body %}
<!-- navbar -->
<nav class="navbar fixed-top navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/profile">Profile<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/search-races">Search Races</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/training-log">View Your Training Log</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/current-races">View Your Saved Races</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Log Out</a>
        </li>
      </ul>
    </div>
</nav>

<!-- content -->

<div class="container">
  <h1>Your Saved Races:</h1> <br>
    {% for race in current_races %}
    <div id="{{ race.current_race_id }}">
    > {{ race.race.race_name }} <br>
    > signed up? {{ race.signup_status }}<br>
    > completed race? {{ race.completed_status }} <br>
    > Notes: {{ race.notes }} <br>
    <form action="/update-race-status/{{ race.current_race_id }}">
        <button type="submit">Update Race Status</button>
    </form> 
    <form action="/delete-race/{{ race.current_race_id }}" method="POST">
        <button class="btn btn-outline-dark" id="delete-saved-race-button" value="{{ race.current_race_id }}" type="submit">Delete Race</button>
    </form> <br>
    </div>
    {% endfor %} 
  
</div>
    



{% block javascript %}
<script src="/static/js/deleteSavedRace.js"></script>
{% endblock %}

{% endblock %}