{% extends 'base.html' %}

{% block title %}Edit Training Log{% endblock %}


{% block body %}
<div class="app">
  <div class="container">
    <div class="d-flex justify-content-center heading">
      <h1>Edit Log</h1>
    </div>
    <div class="row justify-content-center">
      <div class="card" style="margin-bottom: 20px; width: 400px;">
        <div class="card-body">
          <form action="/save-changes/{{ training_log_to_edit.training_log_id }}" method="POST">
            <label for="edited-date-field">Date</label> <br>
            <input type="date" name="edited_training_date" id="edited-date-field" value="{{ training_log_to_edit.training_date }}"><br>
            <br>
            <label for="edited-mileage-field">Mileage</label>
            <input class="form-control" type="text" name="edited_training_mileage" id="edited-mileage-field" value="{{ training_log_to_edit.training_mileage}}" placeholder="Mileage" required> <br>
            Time <br>
            <input id='edited-h-field' name='edited_run_time_hr' type='number' min='0' max='24'>
              <label for='h'>h</label>
              <input id='edited-m-field' name='edited_run_time_min' type='number' min='0' max='59'>
              <label for='m'>m</label>
              <input id='edited-s-field' name='edited_run_time_sec' type='number' min='0' max='59'>
              <label for='s'>s</label> <br>
              <br>
            Effort<br>
            <input type="radio" name="edited_training_effort" id="edited-effort-field" value="easy">
              <label for="easy">Easy</label>
            <input type="radio" name="edited_training_effort" id="edited-effort-field" value="moderate">
              <label for="moderate">Moderate</label>
            <input type="radio" name="edited_training_effort" id="edited-effort-field" value="hard">
              <label for="hard">Hard</label> <br>
              <br>
            Comments<br>
            <textarea class="form-control" name="edited_training_comment" id="edited-comment-field" rows="3">{{ training_log_to_edit.training_comment }}</textarea>
            <br>
            <div class="row justify-content-center">
              <button class="btn btn-primary" type="submit" name="log-to-edit" id="edit-log-button" value="{{ training_log_to_edit.training_log_id }}">Save Edit</button>
            </div>
          </form>
        </div>

      </div>
      
    </div>
    
  </div>
</div>


{% block javascript %}
  <script src="/static/js/editLog.js"></script>
{% endblock %}

{% endblock %}