{% extends 'base.html' %}

{% block title %}Edit Training Log{% endblock %}


{% block body %}
<div class="app">
  <div class="container">
    <div class="d-flex justify-content-center heading">
      <h1>Edit Log</h1>
    </div>
    <div class="row justify-content-center">
      <div class="card">
        <div class="card-body text-center">
          <form action="/save-changes/{{ training_log_to_edit.training_log_id }}" method="POST">
            Date: <input type="date" name="edited_training_date" id="edited-date-field" value="{{ training_log_to_edit.training_date }}"> <br>
            Mileage: <input type="text" name="edited_training_mileage" id="edited-mileage-field" value="{{ training_log_to_edit.training_mileage}}" required> <br>
            Time: <input id='edited-h-field' name='edited_run_time_hr' type='number' min='0' max='24'>
              <label for='h'>h</label>
              <input id='edited-m-field' name='edited_run_time_min' type='number' min='0' max='59'>
              <label for='m'>m</label>
              <input id='edited-s-field' name='edited_run_time_sec' type='number' min='0' max='59'>
              <label for='s'>s</label> <br>
            Effort: 
            <input type="radio" name="edited_training_effort" id="edited-effort-field" value="easy">
              <label for="easy">Easy</label>
            <input type="radio" name="edited_training_effort" id="edited-effort-field" value="moderate">
              <label for="moderate">Moderate</label>
            <input type="radio" name="edited_training_effort" id="edited-effort-field" value="hard">
              <label for="hard">Hard</label> <br>
            Comment: <input type="text" name="edited_training_comment" id="edited-comment-field" value="{{ training_log_to_edit.training_comment }}"> <br>
      
            <button class="btn btn-primary" type="submit" name="log-to-edit" id="edit-log-button" value="{{ training_log_to_edit.training_log_id }}">Save Edit</button>
          </form>
        </div>

      </div>
      
    </div>
    
  </div>
</div>


{% block javascript %}
  <script src="/static/js/editLog.js"></script>
{% endblock %}

{% endblock %}