{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block head %}
{% block stylesheets %}

{% endblock stylesheets %}
{% endblock %}

{% block body %}
  <div class="container">
    <h1>Log In</h1>
  </div>
  <form action="/login" method="POST">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" name ="email" id="exampleInputEmail1" aria-describedby="emailHelp" required>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" name="password" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  
  <div>
      Don't have an account yet? <a href="/create-account">Create an Account</a>
  </div>
  {% block Javascript %}
  
  {% endblock %}

  {% endblock %}




