{% extends 'base.html' %}

{% block title %}Home{% endblock %}


{% block body %}
   <div class="homepage">
    <div class="login" id="login-heading">
      <h1>Log In</h1>
    </div>
      <br>
    <div class="login" id="login-form">
      <form action="/login" method="POST">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" name ="login-email" id="login-email-field" aria-describedby="emailHelp" required>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" name="login-password" id="login-password-field">
        </div>
        <button type="submit" class="btn btn-primary" id="login-button">Submit</button>
      </form>
    </div> 
    <div class="login" id="create-account-link">
      Don't have an account yet? <a href="/create-account">Create an Account</a>
    </div>

  </div>

{% block javascript %}
  <script src="/static/js/logIn.js"></script>
{% endblock %}

{% endblock %}

  




