{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js" 
integrity="sha512-hZf9Qhp3rlDJBvAKvmiG+goaaKRZA6LKUO35oK6EsM0/kjPK32Yw7URqrq3Q+Nvbbt8Usss+IekL7CRn83dYmw==" 
crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
<div>
<h1>Hello, {{ current_user.fname }}!</h1>
</div>
<div class="chart-container">
    <canvas id="myChart" ></canvas>

    <script>
        $.get('/training-log.json', (res) => {
        const data = [];
        for (const training of res.data) {
        data.push({x: training.date, y: training.mileage});
        }
        console.log(data)
        new Chart(
            $('#myChart'),
            {
                type: 'line',
                data: {
                  datasets: [
                  {
                    label: 'Mileage ran',
                    data: data
                  }
                ]
              },
                options: {
                  scales: {
                    xAxes: [
                      {
						type: 'time',
						time: {
						  displayFormats: {
						    week: 'll'
						  }
						},
						distribution: 'series'
                      }
                	]
				  },
				  tooltips: {
          			callbacks: {
            		  title: (tooltipItem) => {
                       return moment(tooltipItem.label).format('MMM D');
            		  }
          			}
       			  }
              	}
           	  }
            );
          });
    </script>
    
</div>

<div>
	<h2>total runs: {{ total_runs }}</h2> <br>
	<h2>total distance: {{ total_mileage[0] }}</h2> <br>
	last run:

</div>
<div>
  <p>
    
    
    Your current races: <br>
    {% for race in current_races %}
    > {{ race.race.race_name }} <br>
    signed up? {{ race.signup_status }}<br>
    

    {% endfor %}
     <br>
    <!-- list of races here -->
    <form action="/search-races">
        <button type="submit">Search Races</button>
    </form>
    <form action="/training-log">
        <button type="submit">View Your Training Log</button>
    </form>
    <form action="/logout">
        <button type="submit">Log Out</button>
    </form>
    
  </p>
</div>
{% endblock %}