{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block head %}{% endblock %}

{% block body %}
<h1>Hello, {{ current_user.fname }}!</h1>

<p>
    <!-- current races:
    link to races here -->
    
    Your current races: <br>
    {% for race in current_races %}
    > {{ race.race.race_name }} <br>

    {% endfor %}
     <br>
    <!-- list of races here -->
    <form action="/search-races">
        <button type="submit">Search Races</button>
    </form>
    <form action="/training-log">
        <button type="submit">View Your Training Log</button>
    </form>
    <form action="/logout">
        <button type="submit">Log Out</button>
    </form>
    
</p>

{% endblock %}