{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block head %}{% endblock %}

{% block body %}
<h1>Hello, {{ current_user.fname }}!</h1>

<p>
    <!-- current races:
    link to races here -->
    Your current races: <br>
    {% for race in current_races %}
    > {{ race.Race.race_name }} <br>
    {% endfor %}
    <!-- list of races here -->
    <a href="/search_races">search races</a> <br>
    <a href="/training_log">see training log</a> <br>
    <a href="/logout">logout</a> 
    <!-- {{current_user.user_id}} -->


</p>

{% endblock %}