{% extends 'base.html' %}

{% block title %}Save the Race{% endblock %}


{% block body %}

<!-- navbar -->
  <nav class="navbar fixed-top navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/profile">Profile<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/search-races">Search Races</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/training-log">View Your Training Log</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/current-races">View Your Saved Races</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- content -->
<div class="app">
  <div class="container">
  <div class="d-flex justify-content-center heading">
    <h1>Add this race</h1>
  </div>
  <div class="row justify-content-center">
    <div class="card" id="save-the-date-form">
      <div class="card-body">
        <form action="/race-saved" method="POST">
          <label for="race-name-field">Race Name</label>
          <input class="form-control" type="text" name="race_name" id="race-name-field" value="{{ data['results'][0]['assetName'] }}" placeholder="Race Name" required> <br>   
          <label for="race-date-field">Race Date</label>
          <input class="form-control" type="text" name="date" id="race-date-field" value="{{ data['results'][0]['activityStartDate'] }}" placeholder="Race Date" required> <br>
          <label for="race-city-field">City</label>
          <input class="form-control" type="text" name="city_name" id="race-city-field" value="{{ data['results'][0]['place']['cityName'] }}" placeholder="City" required> <br>
          <label for="race-zipcode-field">Zipcode</label>
          <input class="form-control" type="text" name="zipcode" id="race-zipcode-field" value="{{ data['results'][0]['place']['postalCode'] }}" placeholder="Zipcode" required> <br>
          <label for="race-url-field">Event Website</label>
          <input class="form-control" type="text" name="race_url" id="race-url-field" value="{{ data['results'][0]['homePageUrlAdr'] }}" required> <br>
          <label for="race-organization-field">Race Organization</label>
          <input class="form-control" type="text" name="organization_name" id="race-organization-field" value="{{ data['results'][0]['organization']['organizationName']|striptags }}" required> <br>
          <label for="race-description-field">Race Description </label>
          <input class="form-control" name="race_description" id="race-description-field" value="{{ data['results'][0]['assetDescriptions'][0]['description']|striptags }}" rows="3" required> <br>

          Signed up?
          <input type="checkbox" name="signup_status" id="race-signup-field" value="Yes">
            <label>Yes</label>
          <input type="checkbox" name="signup_status" id="race-signup-field" value="No">
            <label>No</label> <br>
      
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Notes</label>
              <textarea class="form-control" name="notes" id="race-notes-field" rows="3"></textarea>
            </div>
          <br>
          <br>
          <div class="row justify-content-center">
            <button class="btn btn-primary" id="save-race-btn" type="submit">Save Race</button>
          </div>
        
        </form>
      </div>

    </div>
  </div>
 </div>
</div> 

{% block javascript %}
  <script src="/static/js/saveRace.js"></script>
{% endblock %}

{% endblock %}