{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block body %}
<h1>Find Your Next Race</h1>

<form action="/race_results" method='GET'>
  <p>
    City Name: <input type="text" name="city_name" required>
  </p>
  <p>
    Type of Race: 
    <input type="checkbox" name="distance_length" value="5k">
    <label>5K</label>
    <input type="checkbox" name="distance_length" value="10k">
    <label>10k</label>
    <input type="checkbox" name="distance_length" value="half_marathon">
    <label>Half Marathon</label>
    <input type="checkbox" name="distance_length" value="marathon">
    <label>Marathon</label>
  </p>
  <p>
    When do you want to run?
    <input type="date" name="start_date">
  </p>

  <input type="submit">

</form>

{% endblock %}


