{% extends 'base.html' %}

{% block title %}{% endblock %}


{% block body %}

<nav class="navbar navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/profile">Profile<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/search-races">Search Races</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/training-log">View Your Training Log</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/current-races">View Your Saved Races</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log Out</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <form action="/race-results" method='GET'>
      
        City Name: <input type="text" name="city_name" required> <br>
      
        Type of Race: 
        <input type="checkbox" name="distance_length" value="5k">
        <label>5K</label>
        <input type="checkbox" name="distance_length" value="10k">
        <label>10k</label>
        <input type="checkbox" name="distance_length" value="half_marathon">
        <label>Half Marathon</label>
        <input type="checkbox" name="distance_length" value="marathon">
        <label>Marathon</label> <br>
      
        When do you want to run?
        <input type="date" name="start_date"> <br>
      
      <input type="submit"> <br>
    </form>
  </div>

</div>
{% endblock %}


