{% extends 'base.html' %}

{% block title %}Training Log{% endblock %}

{% block head %}{% endblock %}
{% block body %}

  <h1>Training Log</h1>
    <div>
      <form action="/training_log" methods="POST">
        Date: <input type="date" name="training_date"> <br>
        Mileage Ran: <input type="text" name="mileage_run"> <br>
        Effort:
        <input type="radio" id="effort" name="effort" value="easy">
            <label for="easy">Easy</label>
        <input type="radio" id="effort" name="effort" value="moderate">
            <label for="moderate">Moderate</label>
        <input type="radio" id="effort" name="effort" value="hard">
            <label for="hard">Hard</label> <br>
        Comments: <input type="text" name="comments"> <br>

        <button>Create new entry</button>
      </form>
      <p>

      {% for logs in current_user_logs[::-1] %}
      
          {{ logs.training_date }} <br>
          {{ logs.training_mileage}} miles<br>
          {{ logs.training_effort }} <br>
          {{ logs.training_comment }}
      </p>  
      {% endfor %}
      
    </div>
    {% endblock %}