{% extends 'base.html' %}

{% block title %}Training Log{% endblock %}


{% block body %}

<!-- navbar -->
<nav class="navbar fixed-top navbar-dark bg-dark">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/profile">Profile<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/search-races">Search Races</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/training-log">View Your Training Log</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/current-races">View Your Saved Races</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log Out</a>
      </li>
    </ul>
  </div>
  <span class="navbar-brand mb-0 h1" style>OnTrack</span>
  
</nav>


<!-- training logs -->

<div class="app">
  <div class="container">

    <div class="row justify-content-center heading" id="training-log-heading">
      
        <h1>Training Log </h1> 
            
    </div>
    <div class="row justify-content-center">
        <form action="/create-new-log">
          <button class="btn btn-dark btn-lg" id="create-new-log-btn" type="submit">Create New Log</button>
        </form>

      
    </div>

    <br>
    
      {% for logs in current_user_logs[::-1] %}
    <div class="row justify-content-center">
      <div class="card w-50 text-center" id="{{ logs.training_log_id }}"> 
        <div class="card-body" style="margin-bottom: 10px;">
          <h4><i class="fas fa-calendar-alt"></i> <b>{{ logs.training_date.strftime("%A, %B %d, %Y") }}</b></h4> <br>
          <h5><i class="fas fa-running"></i> {{ logs.training_mileage}} miles | <i class="fas fa-clock"></i> {{ logs.training_run_time }}</h5> <br>
          <h5><i class="fas fa-fire-alt"></i> {{ logs.training_effort }} </h5><br>
          <p><i class="fas fa-sticky-note"></i> {{ logs.training_comment }}</p>
        </div>
        <div class="row justify-content-center training-log-btns">
          <div class="col-3">
            <form action="/edit-training-log/{{ logs.training_log_id }}">
              <button class="btn btn-primary" type="submit" value="{{ logs.training_log_id }}">Edit Log</button>
            </form>
          </div>
          <div class="col-3">
            <form action="/delete-training-log/{{ logs.training_log_id }}" method="POST">
              <button class="btn btn-secondary delete-log-button" type="submit" value="{{ logs.training_log_id }}">Delete Log</button>
            </form>
          </div>
        </div>
        
      </div>
    </div>
      <br>
        {% endfor %}

    
      

  </div>
</div>    
  

 
{% block javascript %}
  <script src="/static/js/deleteLog.js"></script>
{% endblock %}
  
{% endblock %}