{% extends 'base.html' %}

{% block title %}Training Log{% endblock %}

{% block head %}{% endblock %}
{% block body %}

  <h1>Training Log</h1>
    <div>
      <form action="/create-training-log" method="POST">
        Date: <input type="date" name="training_date"> <br>
        Mileage Ran: <input type="text" name="mileage_run"> <br>
        Effort:
        <input type="radio" id="effort" name="effort" value="easy">
            <label for="easy">Easy</label>
        <input type="radio" id="effort" name="effort" value="moderate">
            <label for="moderate">Moderate</label>
        <input type="radio" id="effort" name="effort" value="hard">
            <label for="hard">Hard</label> <br>
        Comments: <input type="text" name="comments"> <br>

        <button type="submit">Create new entry</button>
      </form>
    </div>
    <div>

      {% for logs in current_user_logs[::-1] %}
        <p>
          {{ logs.training_date }} <br>
          {{ logs.training_mileage}} miles<br>
          {{ logs.training_effort }} <br>
          {{ logs.training_comment }}
        </p>  
        <form action="/edit-training-log/{{ logs.training_log_id }}">
          <button type="submit" name="edit" value="{{ logs.training_log_id }}">edit log</button>
        </form>
        <form action="/delete-training-log/{{ logs.training_log_id }}" method="POST">
          <button type="submit" name="delete-log" value="{{ logs.training_log_id }}">delete log</button>
        </form>
      {% endfor %}
      
    </div>
    <form action="/profile">
      <button type="submit">Back to Profile</button>
    </form>

    {% endblock %}